<footer>
    <div id="newsletter">
        <div class="container">
            <div class="row">
                <section class="newsletter">
                    <div class="col">
                        <h3 class="cap-title">Bring some history to your inbox</h3>
                    </div>
                    <div class="col">
                        <form action="#link">
                            <label for="email"><input type="email" id="email" name="email" placeholder="Email"></label>
                            <input type="submit" id="submit" value=">">
                        </form>
                    </div>
                </section>
                <!-- /newsletter -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="nav-bottom">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/virtualtour">Virtual Tour</a></li>
                        <li><a href="/educators">Educators</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <section class="contactus">
                    <h3 class="cap-title">Contact us</h3>
                    <section class="contact">
                        <i class="fas fa-envelope"></i>
                        <span>info@museumologyclass.org</span>
                    </section>
                    <section class="contact">
                        <i class="fas fa-phone-volume"></i>
                        <span>xxx-xxx-xxxx</span>
                    </section>
                </section>
            </div>
        </div>
    </div>
</footer>
<section class="copyright">
    <div class="container">
        <div class="row">
            <p class="copyright-text">&copy; 2021 Mya T Lee All rights reserved.</p>
        </div>
    </div>
</section>
</body>
</html>