<%- include("../partials/header"); %>
    <main id="aboutus-page">
        <div class="container">
            <div class="row">
                <h2>History</h2>
            </div>
            <div class="row">
                <p>The Museum began as both a dream and challenge in 2021 by a Jackson State University Masters candidate, who desired to answer the question "So what?"</p>
                <p>For some scholars, a project or topic begins and ends with research. Sometimes, nothing is done with the research beyond publishing. The Museum sought to change that pattern and to create a platform for communities to (1) understand the significance of the research and (2) to do something about it.</p>
                <p>The name "The Museum" signifies the first of its kind. It does not belong in one category of museums, and it anchors on the challenge that it will be repeated in various communities on various platforms to discuss various points across disciplines. It was founded with the dream that a museum and what it entails will no longer become a place but <strong>a space that all can enter and be moved to action</strong>.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2>Mission Statement</h2>
            </div>
            <div class="row">
                <p>To create an "artistic and historical institution" to bring both art and history together to create connections by understanding how the archetypes and myths of the past directly impact people's present to create a change to aid the future</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2>Goals and Objectives</h2>
            </div>
            <div class="row">
                <ol>
                    <li>Educate Museum attendees and the community about archetypes and myths and how they are popularized by the media</li>
                    <li>Research and create methods with the community to negate the effects of the archetypes and myths</li>
                </ol>
            </div>
        </div>
    </main>

<%- include("../partials/footer"); %>