<%- include("../partials/header"); %>

<main id="educators-page">
    <div class="container">
        <div class="row">
            <h2>Virtual Tour Notes</h2>
        </div>

        <div class="row">
            <ol> <strong>Education: B.B. King Museum with Dr. Turnipseed (2/2/2021)</strong>
                <li>Introduced Dr. Turnipseed to the field of public history</li>
                <li>Blues has played multiple roles in peoples' lives: healing and protect</li>
                <li>Dr. Turnipseed created educational programs such as the Harmonica Project and the Fammie Lou Hamer Empowerment Project to make connections between the blues and children</li>
                <li>Fannie Lou Hamer Empowerment Project also taught etiquette to young ladies</li>
                <li>Healthy You focused on healthy eating and nutrious to help avoid obseity and diabetes by re-imaging whatis Soul food</li>
            </ol>
        </div>

        <div class="row">
            <ol> <strong>Mission and Planning: Margater Walker Center with Dr. Luckett (2/9/2021)</strong>
                <li>Their mission statement is directly tied to Margaret Walker and the foundation of the Center</li>
                <li>MWC is both an archive and museum</li>
                <li>Mission: dedicated to the preservation, interpretation, and dessemination of African American history and culture</li>
                <li>Relationships with other museums to further the mission (e.g. MMA and MWC)</li>
                <li>The issues revolving a Black studies program</li>
            </ol>
        </div>

        <div class="row">
            <ol> <strong>Collection and Collection Manangement: Smithsonian Museum with Sariah (2/16/2021)</strong>
                <li>Chapter 8 focuses on collection and collection managemen, and it lists 6 purposes for collection</li>
                <li>Smithsonian National Musuem of American History has 6 elements for their collection planning</li>
                <li>Discussed with Dr. Joshua Gorman, head of Collections Management and Museum Registrar to gain insight into the museum</li>
                <li>Presented looked at WWII propaganda and Woolworth staging</li>
                <li>Another exhibit focused on sports and how race and gender barriers were broken</li>
            </ol>
        </div>

        <div class="row">
            <ol> <strong>Inclusion: African American Military History Museum with Darius (2/23/2021)</strong>
                <li>Chapter 12 focuses on how museums change from being a place to showcase artifacts to being a place making history important for everyone</li>
                <li>There is an emphasis on relating the materials to a community as a whole</li>
                <li>The African American Military History Museum began as the USO (United States Organization) club in 1942</li>
                <li>One exhibit is the founding of the Hattiesburg by William H. Hardy in 1884</li>
                <li>An exhibit that Darius found exciting was the Buffalo Soliders because the exhibit is engaging and itneractive for attendees by being able to climb on the horse and the hat</li>
            </ol>
        </div>

        <div class="row">
            <ol> <strong>Cotton presentation with Dr. Turnipseed (3/9/2021)</strong>
                <li>Presentation was on the resistance and memory of cotton, and it is a tribute to the cotton pickers of the American South</li>
                <li>Cotton played a dominant role in global exchange during the 18th to 19th century, makign up 70% of the nation's total exports</li>
                <li>Lancaster and Manchester becoming the largest and most productive cotton spinning center in the world</li>
                <li>Focus on the impact that cotton played for enslaved people and indentured servants</li>
                <li>Cotton's role extended past business and politics into education with schools being closed during picking seasons</li>
            </ol>
        </div>

        <div class="row">
            <ol> <strong>Visitor Engagement and Marketing: Mississippi Museum of Art with Mya (3/16/2021)</strong>
                <li>Visitr engagement can look at how the museum's lobby is positions and how that can impact visitor experience</li>
                <li>Impact that COVID has: digital divide and engagement with families</li>
                <li>It is useful to have muli-layered approach to advertising and marketing to reach the intended audiences</li>
                <li>Collaboration with Margaret Walker Center for the <i>This is My Century: Black Synthesis of time</i> poem by Marget Walker, which the permanent collection centers</li>
                <li>Visitor Engagement also looks at the programming offered for families and people to engage with the artwork and the museum itself</li>
            </ol>
        </div>

        <div class="row">
            <ol> <strong>Exhibition and Interpretation: National Museum of African American History and Culture with Jordan (3/23/2021)</strong>
                <li>Chapter 10 focuses on exhibition and interpretation, and both are dependent upon each other and needed</li>
                <li>This impacts the vistor's experience with the museum</li>
                <li>One exhibit looks at the Musical Crossroads and the impact of African Americas on the genre of music</li>
                <li>Taking the Stage focuses on how Black artists challenge racial discriminations and stereotypes</li>
                <li>Jordan chose this topic based on Paul and desire to be an entertainer</li>
            </ol>
        </div>

        <div class="row">
            <ol> <strong>Relevance (Planning, Program, and Exhibits): Equal Justice Institute's National Memorial for Peace and Justice with Drew (3/30/2021)</strong>
                <li>Chapter 10 within the textbook that highlights how the museums aim to "educate and expand the museum audiences"</li>
                <li>3 categories: (1) permanent exhibits, (2) temporary exhibits, and (3) online exhibits</li>
                <li>Heat Map to showcase the number of lynching between 1877 and 1950</li>
                <li>Addition of a meditation space for the visitor experience</li>
                <li>Engages with the cm=ommunity by hosting community forum panel discussion to explore racial disparities</li>
            </ol>
        </div>

        <div class="row">
            <ol> <strong>Ethics: Two Mississippi Museums with Michael (4/6/2021)</strong>
                <li>Met with Rachel Buyers, Deputy Director to discuss ethics</li>
                <li>Also spoke with a museum employee about Aunt Jemima and stereotypes</li>
                <li>Emphasis on Fannie Lou Hamer and the role she played in voting</li>
                <li>Also looked at Anne Moody and life of activism</li>
                <li>Another emphasis was on Medgar Evers</li>
            </ol>
        </div>

        <div class="row">
            <ol> <strong>Oral History: Smithsonian National Museum of African American History and Culture with Kelly Navies (04/13/2021)</strong>
                <li>Introduced topic with <i class="caps">somebeginningsofmywomanme</i> poem to emphasize her introduction and connection with public history</li>
                <li>Mission to tell the American story thrugh an African American lens and to create space of healing and reconciliation</li>
                <li>Received grant to collect stories about women in music and performing arts</li>
                <li>Personal questiion about the emphasis on local heroes</li>
                <li>It's the <strong>artifact</strong> that tells the story</li>
            </ol>
        </div>
    </div>

</main>

<%- include("../partials/footer"); %>