<%- include("../partials/header"); %>
<main id="virtualtour-page">
    <div class="container">
        <div class="row">
            <h2><strong>Welcome to the <span>Strong just like my Mama!</span> virtual tour</strong></h2>
        </div>

        <div class="row">
            <img src="Strong.png" alt="">
        </div>

        <div class="row">
            <h3>Currently, our software is down. Please click on the following links to view the exhibit's zones.</h3>
        </div>

        <div class="row">
            <nav id="zones">
                <ul><strong class="title">Virtual Tour Zones</strong>
                    <li><a href="/zone1">Zone 1</a></li>
                    <li><a href="/zone2">Zone 2</a></li>
                    <li><a href="/zone3">Zone 3</a></li>
                    <li><a href="/zone4">Zone 4</a></li>
                    <li><a href="/zone5">Zone 5</a></li>
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>
    </div>
</main>


<%- include("../partials/footer"); %>