<%- include("../partials/header"); %>
<main id="zone3-page">
    <div class="container">
        <div class="row">
            <nav id="zones">
                <ul>
                    <li><a href="/zone1">Zone 1</a></li>
                    <li><a href="/zone2">Zone 2</a></li>
                    <!-- <li><a href="/zone3">Zone 3</a></li> -->
                    <li><a href="/zone4">Zone 4</a></li>
                    <li><a href="/zone5">Zone 5</a></li>
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <h2>Sapphire stereotype</h2>
        </div>

        <div class="row">
            <img src="zone3-1.jpg" alt="">
            <span>The name <i>Sapphire</i> came with the emergence of the character Sapphire in <i>Amos ‘n’ Andy</i>. <i>Amos ‘n’ Andy</i> (1951-1960), which began as a popular radio show  in 1928 before airing as a situational comedy. Created by Freeman Gosden and Charles Correll, it depicted Black women as combative and tyrannical with the creators and self-titled actors impersonating Black people’s behaviors for the entertainment of its audience.</span>
        </div>

        <div class="row">
            <img src="zone3-2.jpg" alt="">
            <span>Continuing with Blaxploitation, Yvonne Sim argues that Black urban audiences resulted in heavy action-oriented films that “provided audiences who craved alternative heroes with an outlet in which they could, for the first time, identify with a protagonist who looked like them.” The era opened the doors for the Sapphire to become tough and adaptable at surviving despite her circumstances and environment.</span>
        </div>

        <div class="row">
            <img src="zone3-3.jpg" alt="">
            <span>It seems to suggest that stereotypes like Sapphire are for Black women, who disrupt the social order. Additionally, it is important to note that individuals like Thomas who describe a Black woman as a Sapphire do not have a personal relationship with the Black woman. Therefore, the Black woman is being labeled based on assumptions gained from watching interactions with the Black woman.</span>
        </div>
        
        <div class="row">
            <h3>In a conversation about Michelle Obama’s role in then-Senator Barack Obama’s first run in the U.S. Presidential election in 2008, Cal Thomas, a commentator on FOX Television, remarked that </h3>
            <p>I want to pick up on something that Jane said about the angry black woman. Look at the image of angry black women on television. Politically you have Maxine Waters of California, liberal Democrat. She's always angry every time she gets on television. Cynthia McKinney, another angry black woman. And who are the black women you see on the local news at night in cities all over the country. They're usually angry about something. They've had a son who has been shot in a drive-by shooting. They are angry at Bush. So you don't really have a profile of non-angry black women.</p>
        </div>

        <div class="row">
            <nav id="zones">
                <ul>
                    <li><a href="/zone1">Zone 1</a></li>
                    <li><a href="/zone2">Zone 2</a></li>
                    <!-- <li><a href="/zone3">Zone 3</a></li> -->
                    <li><a href="/zone4">Zone 4</a></li>
                    <li><a href="/zone5">Zone 5</a></li>
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>
    </div>
</main>

<%- include("../partials/footer"); %>