<%- include("../partials/header"); %>
<main id="zone2-page">
    <div class="container">
        <div class="row">
            <nav id="zones">
                <ul>
                    <li><a href="/zone1">Zone 1</a></li>
                    <!-- <li><a href="/zone2">Zone 2</a></li> -->
                    <li><a href="/zone3">Zone 3</a></li>
                    <li><a href="/zone4">Zone 4</a></li>
                    <li><a href="/zone5">Zone 5</a></li>
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>


        <div class="row">
            <h2>Mammy and Jezebel</h2>
        </div>

        <div class="row">
            <p>"The single story creates stereotypes, and the problem with stereotypes us not that they are untrue, but that they are incomplete. They make one story become the only story." ---Chimamanda Ngozi Adichie"</p>
        </div>

        <div class="row">
            <img src="zone2-1.jpg" alt="">
            
        </div>

        <div class="row">
            <span>Mammy caricature</span>
        </div>

        <div class="row">
            <img src="zone2-2.jpg" alt="">
            <span>Hattie McDaniel as Mammy in <i>Gone with the Wind</i>, where she won an Oscar for best supporting actress becoming the first Black to win an Academy Award</span>
        </div>

        <div class="row">
            <img src="zone2-3.jpg" alt="">
            <span>Mid-1960s license plate showcasing a caricatured Black woman, pregnant, with these words, "Ah went all de way wib LBJ" Images such as these were often popularly seen insulting Black, especially Black Democrats and Black women according to Dr. Phil Pilgrim, Professor of Sociology at Ferris State University</span>
        </div>

        <div class="row">
            <img src="zone2-4.jpg" alt="">
            <span>During the 1970s, film shifted to create Blaxploitation that featured Black action film that showcased Black women as having the brains, sex appeal, and weaponery to fight injustice. This will be explored more in the next zone.</span>
        </div>

        <div class="row">
            <nav id="zones">
                <ul>
                    <li><a href="/zone1">Zone 1</a></li>
                    <!-- <li><a href="/zone2">Zone 2</a></li> -->
                    <li><a href="/zone3">Zone 3</a></li>
                    <li><a href="/zone4">Zone 4</a></li>
                    <li><a href="/zone5">Zone 5</a></li>
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>
    </div>
</main>

<%- include("../partials/footer"); %>