<%- include("../partials/header"); %>
<main id="zone6-page">
    <div class="container">
        <div class="row">
            <nav id="zones">
                <ul>
                    <li><a href="/zone1">Zone 1</a></li>
                    <li><a href="/zone2">Zone 2</a></li>
                    <li><a href="/zone3">Zone 3</a></li>
                    <li><a href="/zone4">Zone 4</a></li>
                    <li><a href="/zone5">Zone 5</a></li>
                    <!-- <li><a href="/zone6">Zone 6</a></li> -->
                </ul>
            </nav>
        </div>

        <div class="row">
            <h2>Conclusion</h2>
        </div>

        <div class="row">
            <h3><strong>Recap</strong></h3>
        </div>

        <div class="row">
            <p>Stereotypes negatively impact people, especially for those who have no contact with the group of individuals depicted in the stereotype. Historically, stereotypes have been used to justify and aid the system of slavery in the United States. Throughout the twentieth century, this exhibit focuses on five stereotypes facing Black women: the Mammy, the Jezebel, the Sapphire, the Welfare Queen, and the Strong Black Woman (SBW). Beginning with the histories of the first four stereotypes, the SBW archetype evolved to protect Black women. However, the stereotype continued to harm Black women by being used as a weapon to attack Black women by the media's representations. </p>
        </div>

        <div class="row">
            <span>As you went through this exhibit, could you think of a negative media portrayal of Black women?</span>
        </div>

        <div class="row">
            <h3><strong>So what?</strong></h3>
        </div>

        <div class="row">
            <p>"So what do we do? Anything. Something. So long as we don't sit there. If we screw it up, start over. try something else. If we wait until we've satisfied all the uncertainities, it may be too late." --Lee lacocca</p>
        </div>

        <div class="row">
            <p>As you travel through this zone, it's purpose is for you to breathe and reflect. We understand that previous zones can be hard for some, and this is a space to <strong>be</strong> in the moment and to think about the past, present, and the future. How can you take what you've learned back to your community? How can you make a difference by furthering <strong>The Museum's mission</strong>. As you leave, remember that this moment does not end. It merely transfers and occupies another space.</p>
        </div>

        <div class="row">
            <img src="zone6-1.jpg" alt="">
            <span>As you watch the light and water, reflect on everything. Reflect on what you knew. Reflect on what you learned. Reflect on your unanswered questions. What new questions do you have? What are you feeling? Live in this moment and take it as you move. What can you do with that?</span>
        </div>

        <div class="row">
            <img src="zone6-2.jpg" alt="">
            <span>Pause. Look. What do you see? Who are you? How are you seen? What can you do about it?</span>
        </div>

        <div class="row">
            <nav id="zones">
                <ul>
                    <li><a href="/zone1">Zone 1</a></li>
                    <li><a href="/zone2">Zone 2</a></li>
                    <li><a href="/zone3">Zone 3</a></li>
                    <li><a href="/zone4">Zone 4</a></li>
                    <li><a href="/zone5">Zone 5</a></li>
                    <!-- <li><a href="/zone6">Zone 6</a></li> -->
                </ul>
            </nav>
        </div>

    </div>
</main>

<%- include("../partials/footer"); %>