<%- include("../partials/header"); %>
<main id="zone4-page">
    <div class="container">
        <div class="row">
            <nav id="zones">
                <ul>
                    <li><a href="/zone1">Zone 1</a></li>
                    <li><a href="/zone2">Zone 2</a></li>
                    <li><a href="/zone3">Zone 3</a></li>
                    <!-- <li><a href="/zone4">Zone 4</a></li> -->
                    <li><a href="/zone5">Zone 5</a></li>
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <h2>Welfare Queen</h2>
        </div>

        <div class="row">
            <p>Beginning in the 1930s with former President Franklin Roosevelt’s New Deal, welfare reform shifted to the state and federal government’s responsibility to aid the poor. However, critics saw policies and programs focused on welfare as creating “a ‘culture of dependency’,” with people desiring to remain on welfare and not to seek employment. Critics began to argue that the system was being exploited by individuals considered to be “unworthy” recipients, many of whom were people of color. Public opinion was swayed against social welfare programs through the use of gender and racial stereotypes that depicted welfare recipients as lazy and irresponsible. A critic of welfare reform, former President Ronald Regan labeled “single African American mothers receiving AFDC [Aid to Families with Dependent Children] assistance ‘welfare queens.’” </p>
        </div>

        <div class="row">
            <img src="zone4-3.jpeg" alt="">
            <span>The term “Welfare Queen” first appeared in one of Regan’s 1976 presidential campaign speeches referring to Linda Taylor, the alias of a Chicago woman born Martha White who “defrauded the government of hundreds of thousands of dollars” </span>
        </div>

        <div class="row">
            <img src="zone4-1.jpg" alt="">
            <span>Covert adds that "the welfare queen stood in for the idea that black people were too lazy to work, instead relying on the public benefits to get by, paid for by the rest of us upstanding citizens. She was promiscuous, having as many children as possible in order to beef up her benefit take."</span>
        </div>

        <div class="row">
            <img src="zone4-2.jpg" alt="">
            <span>Taylor became the poster child for welfare and for Blacks taking advantage of the system even though her racial identity was not Black. Her image was used to imply that “she was not alone — there were a thousand Linda Taylors,” and the American people fearfully and readily took to Reagan’s symbolism.  Even though the narrative presented to the American people did not match the facts of the case, this narrative still influences today’s society, especially within the welfare system and for Black women. </span>
        </div>

        <div class="row">
            <nav id="zones">
                <ul>
                    <li><a href="/zone1">Zone 1</a></li>
                    <li><a href="/zone2">Zone 2</a></li>
                    <li><a href="/zone3">Zone 3</a></li>
                    <!-- <li><a href="/zone4">Zone 4</a></li> -->
                    <li><a href="/zone5">Zone 5</a></li>
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>
    </div>
</main>

<%- include("../partials/footer"); %>