<%- include("../partials/header"); %>
<main id="zone1-page">
    <div class="container">
        <div class="row">
            <nav id="zones">
                <ul>
                    <!-- <li><a href="/zone1">Zone 1</a></li> -->
                    <li><a href="/zone2">Zone 2</a></li>
                    <li><a href="/zone3">Zone 3</a></li>
                    <li><a href="/zone4">Zone 4</a></li>
                    <li><a href="/zone5">Zone 5</a></li>
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <h2>Strong just like my Mama!</h2>
        </div>

        <div class="row">
            <h3>Mission statement: To educate, create new patterns and platforms, and to reflect on the history, evolution, and influence of the Strong Black Woman (SBW) archetype on Black women</h3>
        </div>

        <div class="row">
            <ol> <h4><strong>Goals</strong></h4>
                <li class="bullet">Educate museum attendees about the archetype</li>
                <li class="bullet">Create conversations about how the media produces misrepresentations of Black women's strength and independence to negatively impact Black women</li>
                <li class="bullet">Reflect on how this archetype impacts generations of Black women through their families and female mentors</li>
            </ol>
        </div>

        <div class="row">
            <h3>Context</h3>
        </div>
        
        <div class="row">
            <p>The themes of "strength" and "independence" can be used as positives to motivate people; however, the research points out the detriment that it has for Black women. According to Cailyn Petrona Stewart, she argues how the archetype is used to describe Black women as "natural ender[s] of stress and pain" from society's oppressive systems. From this, Black women can be referred to as superwomen to suggest that they do not have a weakness, which is not true. </p>
            <p>This exhibition pushes back against the narrative that "It takes a village to raise a child." While this is very true, this can be disadvantageous if that village is relying on the SBW to survive and to live for tomorrow. It causes a trickle-down effect within the community, which leads to issues such as mental health and sexual violence that Black women have suffered as a consequence of this trope.</p>
        </div>

        <div class="row">
            <div class="col">
                <img src="zone1-1.jpg" alt="">
                <span><i>I AM HERE</i> by The Tracy Piper, 2020</span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img src="zone1-2.jpg" alt="">
                <span><i>Myth of a Strong Black Woman</i> by Stacie Monday</span>
            </div>
        </div>

        <div class="row">
            <nav id="zones">
                <ul>
                    <!-- <li><a href="/zone1">Zone 1</a></li> -->
                    <li><a href="/zone2">Zone 2</a></li>
                    <li><a href="/zone3">Zone 3</a></li>
                    <li><a href="/zone4">Zone 4</a></li>
                    <li><a href="/zone5">Zone 5</a></li>
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>
    </div>
</main>

<%- include("../partials/footer"); %>