<%- include("../partials/header"); %>
<main id="zone5-page">
    <div class="container">
        <div class="row">
            <nav id="zones">
                <ul>
                    <li><a href="/zone1">Zone 1</a></li>
                    <li><a href="/zone2">Zone 2</a></li>
                    <li><a href="/zone3">Zone 3</a></li>
                    <li><a href="/zone4">Zone 4</a></li>
                    <!-- <li><a href="/zone5">Zone 5</a></li> -->
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <h2>Strong Black Woman</h2>
        </div>

        <div class="row">
            <h3>Power in Weakness?</h3>
        </div>

        <div class="row">
            <img src="zone5.jpg" alt="">
        </div>
            
        <div class="row">
            <p>As you look at this quote, what emotions go through your mind? What emotions do you gain from the model?</p>
        </div>

        <div class="row">
            <ul> <h4><strong>How the SBW connects with the previous 4 stereotypes?</strong></h4>
                <li>Mammy: paints Black women as "emotionally resilient providers and caregivers who need no help" based on the idea they are strong and independent</li>
                <li>Jezebel: shifted the narrative to having Black women without emotions from being seen as hypersexualized and more as objects than as humans</li>
                <li>Sapphire: forces women to overexert themselves mentally, physically, emotionally, and socially at the expense of her mental health to conform to society’s idea of Black womanhood</li>
                <li>Welfare Queen: According to Patricia Hill Collins, the Matriarch is "a single Black working woman with children."She is depicted as unfeminine because she is career-oriented and is considered a bad mother and a failure for not being in the home to supervise and help the children with school assignments.  This image places the blame of all ills facing the Black community on the Black woman, and this contributes to the perception that Black women are responsible for the ills that the Black family faces such as "poverty [and] joblessness"</li>
            </ul>
        </div>

        <div class="row">
            <img src="zone5-1.jpg" alt="">
            <span>Well, let’s see. I usually get up at 5:30 in the morning, but I got home late from my second job. So I lounged around in bed for about 5 minutes. So, then I went to my office. I did all the editing. I got Synclaire’s braids out the fax machine, went home, listened to Max whine about her job, listened to Regine brag about hers, went to the retirement home back to my home for a change of drawers and that’s it. Working gives me energy. [everything’s] mad cool. Except that this big magazine is coming out today and they trying to run me out of business. And my ex-fiancé is well, he’s seeing somebody else. But I can handle that. So, I can tell my mom I’m okay, right.</span>
        </div>

        <div class="row">
            <img src="zone5-2.jpg" alt="">
            <span>[He] couldn’t have started that damn company without me! Hell, I worked my ass off! I mean, I got a master’s degree in business, and there I was his secretary, his office manager, and his computer! No Bernadine, you can’t start your catering business this year! Why don’t you wait a few years, huh? Yeah, don’t start it right now. Wait one, two, three years. I need you to be the fuckin’ background to my foreground!</span>
        </div>

        <div class="row">
            <img src="zone5-3.jpg" alt="">
        </div>
        <div class="row">
            <span><i>The Purpose of Art</i>by Ibtissam Benaibout, 2021</span>
        </div>
        <div class="row">
            <span>How Art has been used as a method to express the inexpressable and to unwind and unleash the inner thoughts. What stands out to you when you see this?</span>
        </div>

        <div class="row">
            <h5>The Symbol of Strength</h5>
        </div>

        <div class="row">
            <p>The image or description of “strength” has been used as an honor bestowed upon Black women to represent the unrecognition “of their humanity and the violations they experience within their families and communities.” In a way, it says that Black women are strong and that they can endure abuse and mistreatment to be able to continue providing the support and help that their families have depended upon since the beginning. At face value, the stereotype appears as encouragement for Black women to be independent and to break the glass ceiling. However, the stereotype forces Black women to conform and deny themselves as they seek to address and solve the plights facing the Black family and community. </p>
        </div>

        <div class="row">
            <nav id="zones">
                <ul>
                    <li><a href="/zone1">Zone 1</a></li>
                    <li><a href="/zone2">Zone 2</a></li>
                    <li><a href="/zone3">Zone 3</a></li>
                    <li><a href="/zone4">Zone 4</a></li>
                    <!-- <li><a href="/zone5">Zone 5</a></li> -->
                    <li><a href="/zone6">Zone 6</a></li>
                </ul>
            </nav>
        </div>
    </div>
</main>

<%- include("../partials/footer"); %>